{{#> layout title="Alliances Page"}}
<div id="browse">
    <h3 class="table-name">Browse Alliances</h3>

    <div class="table-container">
        <table border="1" cellpadding="5">
            <thead class="table-header">
                <tr>
                    <th class="new-button"><a href="#" onClick="showForm('insert')">New</a></th>
                    <th></th>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>
                        <a id="edit-option" href="#" onClick="updateAlliance('{{this.[Alliance ID]}}', '{{this.Alliance}}', '{{this.[Stat Boost]}}', '{{this.[Stat Boost Type]}}')">Edit</a>
                    </td>
                    <td>
                        <a id="delete-option" href="#" onClick="confirmDelete('{{this.[Alliance ID]}}', '{{this.Alliance}}')">Delete</a>
                    </td>
                    <td>{{this.[Alliance ID]}}</td>
                    <td>{{this.Alliance}}</td>
                    <td>{{this.[Stat Boost]}}</td>
                    <td>{{this.[Stat Boost Type]}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Add Alliance Form -->
<div id="insert" class="form-container hidden">
    <h3 class="modal">Add a New Alliance</h3>
    <form id="add-alliance-form-ajax">
        <label class="modal-label" for="alliance-name-input">Alliance Name</label>
        <input type="text" id="alliance-name-input" name="alliance-name" required>

        <label class="modal-label" for="stat-boost-input">Stat Boost</label>
        <input type="number" id="stat-boost-input" name="stat-boost"  required>

        <label class="modal-label" for="stat-boost-type-input">Stat Boost Type</label>
        <input type="text" id="stat-boost-type-input" name="stat-boost-type" required>

        <button type="submit">Add Alliance</button>
    </form>
        <button type="button" onClick="showForm('browse')">Cancel</button>
</div>
<script src="/js/add_alliance.js"></script>

<!-- Edit Alliance Form -->
<div id="update" class="form-container hidden">
    <h3 class="modal">Edit Alliance</h3>
    <form id="update-alliance-form-ajax">
        <label class="modal-label" for="edit-alliance-id-input">Alliance ID</label>
        <input type="text" class="edit-id" id="edit-alliance-id-input" name="alliance-id" value="5" readonly>

        <label class="modal-label" for="edit-alliance-name-input">Alliance Name</label>
        <input type="text" id="edit-alliance-name-input" name="alliance-name" value="Symbiote Bond">

        <label class="modal-label" for="edit-stat-boost-input">Stat Boost</label>
        <input type="number" id="edit-stat-boost-input" name="stat-boost" value="15.00">

        <label class="modal-label" for="edit-stat-boost-type-input">Stat Boost Type</label>
        <input type="text" id="edit-stat-boost-type-input" name="stat-boost-type" value="Attack Power">

        <button type="submit">Save Changes</button>
    </form>
        <button type="button" onClick="showForm('browse')">Cancel</button>
</div>
<script src="/js/update_alliance.js"></script>

<!-- Delete Confirmation -->
<div id="delete" class="form-container hidden">
    <h3 class="modal">Are you sure you want to delete this alliance?</h3>
    <p class="modal-label">Alliance ID: <span id="delete-message"></span></p>
    <p class="modal-label">Alliance Name: <span id="delete-alliance-name"></span></p>
    <button id="confirm-delete-button">Delete</button>
    <button type="button" onClick="showForm('browse')">Cancel</button>
</div>
<script src="/js/delete_alliance.js"></script>
{{/layout}}