{{#> layout title="Battles Page"}}
<div class="filter-container">
    <label for="dropdown-filter">Filter by Win:</label>
    <select id="dropdown-filter" onchange="filterCharacters()">
        <option value="all">All Battles</option>
        <option value="1">Win</option>
        <option value="0">Loss</option>
    </select>
</div>

<div id="browse">
    <h3 class="table-name">Browse Battles</h3>

    <div class="table-container">
        <table border="1" cellpadding="5">
            <thead class="table-header">
                <tr>
                    <th class="new-button"><a href="#" onClick="showForm('insert')">New</a></th>
                    <th></th>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            {{!-- Dynamically populate the table rows --}}
            <tbody>
                {{#each data}}
                <tr>
                    <td>
                        <a href="#" onClick="updateBattle('{{this.[Battle ID]}}', '{{this.[Time Stamp]}}', '{{this.Victory}}', '{{this.Kills}}', '{{this.Deaths}}', '{{this.Assists}}', '{{this.[Damage Dealt]}}', '{{this.[Damage Blocked]}}', '{{this.Healing}}', '{{this.Accuracy}}')">Edit</a>                    </td>
                    <td>
                        <a href="#" onClick="confirmDelete({{this.[Battle ID]}})">Delete</a>
                    </td>
                    <td>{{this.[Battle ID]}}</td>
                    <td>{{this.[Time Stamp]}}</td>
                    <td>{{this.Victory}}</td>
                    <td>{{this.Kills}}</td>
                    <td>{{this.Deaths}}</td>
                    <td>{{this.Assists}}</td>
                    <td>{{this.[Damage Dealt]}}</td>
                    <td>{{this.[Damage Blocked]}}</td>
                    <td>{{this.Healing}}</td>
                    <td>{{this.Accuracy}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>

<!-- Add Battle Form -->
<div id="insert" class="form-container hidden">
    <h3 class="modal">Add a New Battle</h3>
    <form id="add-battle-form-ajax">
        <label class="modal-label">Time Stamp</label>
        <input type="text" id="battle-time-stamp-input" name="time-stamp" required>

        <label class="modal-label">Is Victory?</label>
        <input type="text" id="battle-is-victory-input" name="is-victory" required>

        <label class="modal-label">Kills</label>
        <input type="text" id="battle-kills-input" name="kills" required>

        <label class="modal-label">Deaths</label>
        <input type="text" id="battle-deaths-input" name="deaths" required>

        <label class="modal-label">Assists</label>
        <input type="text" id="battle-assists-input" name="assists" required>

        <label class="modal-label">Damage Dealt</label>
        <input type="text" id="battle-damage-dealt-input" name="damage-dealt" required>

        <label class="modal-label">Damage Blocked</label>
        <input type="text" id="battle-damage-blocked-input" name="damage-blocked" required>

        <label class="modal-label">Healing</label>
        <input type="text" id="battle-healing-input" name="healing" required>

        <label class="modal-label">Accuracy</label>
        <input type="text" id="battle-accuracy-input" name="accuracy" required>

        <button type="button" onClick="showForm('browse')">Cancel</button>
        <button type="submit">Add Battle</button>
    </form>
</div>
<script src="/js/add_battle.js"></script>

<!-- Edit Battle Form -->
<div id="update" class="form-container hidden">
    <h3 class="modal">Edit Battle</h3>
    <form id="update-battle-form-ajax">
        <label class="modal-label">Battle ID</label>
        <input type="text" id="edit-battle-id-input" readonly>

        <label class="modal-label">Time Stamp</label>
        <input type="text" id="edit-time-stamp-input" required>

        <label class="modal-label">Is Victory</label>
        <input type="text" id="edit-is-victory-input" required>

        <label class="modal-label">Kills</label>
        <input type="text" id="edit-kills-input" required>

        <label class="modal-label">Deaths</label>
        <input type="text" id="edit-deaths-input" required>

        <label class="modal-label">Assists</label>
        <input type="text" id="edit-assists-input" required>

        <label class="modal-label">Damage Dealt</label>
        <input type="text" id="edit-damage-dealt-input" required>

        <label class="modal-label">Damage Blocked</label>
        <input type="text" id="edit-damage-blocked-input" required>

        <label class="modal-label">Healing</label>
        <input type="text" id="edit-healing-input" required>

        <label class="modal-label">Accuracy</label>
        <input type="text" id="edit-accuracy-input" required>

        <button type="button" onClick="showForm('browse')">Cancel</button>
        <button type="submit">Save Changes</button>
    </form>
</div>
<script src="/js/update_battle.js"></script>

<!-- Delete Confirmation -->
<div id="delete" class="form-container hidden">
    <h3 class="modal">Are you sure you want to delete this battle?</h3>
    <p class="modal-label">Battle ID: <span id="delete-message"></span></p>
    <button type="button" onClick="showForm('browse')">Cancel</button>
    <button id="confirm-delete-button">Delete</button>
</div>
<script src="/js/delete_battle.js"></script>
{{/layout}}