{{#> layout title= "Battle Participants Page"}}
<div id="browse">
    <h3 class="table-name">Browse Battle Participants</h3>

    <input type="text" id="searchInput" placeholder="Search by track_battle... " onkeyup="filterTable()">

    <div class="table-container">
        <table border="1" cellpadding="5" id="IT-table">
            <thead class="table-header">
                <tr>
                    <th class="new-button"><a href="#" onClick="showForm('insert')">New</a></th>
                    <th></th>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>
                        <a href="#" onClick="showForm('update', {{this.[Battle ID]}})">Edit</a>
                    </td>
                    <td>
                        <a href="#" onClick="showForm('delete', {{this.[Battle ID]}})">Delete</a>
                    </td>
                    <td>{{this.[Battle ID]}}</td>
                    <td>{{this.Character}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Add Player Character Form -->
<div id="insert" class="form-container hidden">
    <h3 class="modal">Add a New Battle Participant</h3>
    <label class="modal-label">Track Battle</label>
    <input type="text" id="player-track-input">

    <label class="modal-label">Track Character</label>
    <input type="text" id="character-track-input">

    <button onClick="showForm('browse')">Cancel</button>
    <button onClick="addPlayerCharacter()">Add Battle Participant</button>
</div>

<!-- Edit Player Character Form -->
<div id="update" class="form-container hidden">
    <h3 class="modal">Edit Battle Participant</h3>
    <label class="modal-label">Track Battle</label>
    <input type="text" id="edit-player-track-input">

    <label class="modal-label">Track Character</label>
    <input type="text" id="edit-character-track-input">

    <button onClick="showForm('browse')">Cancel</button>
    <button onClick="saveChanges()">Save Changes</button>
</div>

<!-- Delete Confirmation -->
<div id="delete" class="form-container hidden">
    <h3 class="modal">Are you sure you want to delete this battle participant?</h3>
    <p class="modal-label">Track Battle: <span id="delete-message"></span></p>
    <button onClick="showForm('browse')">Cancel</button>
    <button onClick="confirmDelete()">Delete</button>
</div>
{{/layout}}