{{#> layout title="Characters Page"}}
        <div class="filter-container">
            <label for="dropdown-filter">Filter by Role:</label>
            <select id="dropdown-filter" onchange="filterCharacters()">
                <option value="all">All Roles</option>
                <option value="Vanguard">Vanguard</option>
                <option value="Duelist">Duelist</option>
                <option value="Strategist">Strategist</option>
            </select>
        </div>

        <div id="browse">
            <h3 class="table-name">Browse Characters</h3>
            
            <div class="table-container">
                <table border="1" cellpadding="5">
                    <thead class="table-header">
                <tr>
                    <th class="new-button"><a href="#" onClick="showForm('insert')">New</a></th>
                    <th></th>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>
                        <a href="#" onClick="showForm('update', {{this.[Character ID]}})">Edit</a>
                    </td>
                    <td>
                        <a href="#" onClick="showForm('delete', {{this.[Character ID]}})">Delete</a>
                    </td>
                    <td>{{this.[Character ID]}}</td>
                    <td>{{this.Character}}</td>
                    <td>{{this.Role}}</td>
                    <td>{{this.Health}}</td>
                    <td>{{this.[Has Secondary Weapon]}}</td>
                    <td>{{this.[Move Speed]}}</td>
                    <td>{{this.[Critical Multiplier]}}</td>
                    <td>{{this.[Ammo Capacity]}}</td>
                    <td>{{this.Alliance}}</td>
                </tr>
                {{/each}}
            </tbody>
                </table>
            </div>
        </div>

        <!-- Add Character Form -->
        <div id="insert" class="form-container hidden">
            <h3 class="modal">Add a New Character</h3>
            <label class="modal-label">Character Name</label>
            <input type="text" id="character-name-input">
            
            <label class="modal-label">Role</label>
            <input type="text" id="character-role-input">
            
            <label class="modal-label">Health</label>
            <input type="text" id="character-health-input">

            <label class="modal-label">Has Secondary Weapon (1 for Yes, 0 for No)</label>
            <input type="text" id="character-secondary-weapon-input">
            
            <label class="modal-label">Move Speed</label>
            <input type="text" id="character-move-speed-input">
            
            <label class="modal-label">Critical Multiplier</label>
            <input type="text" id="character-critical-multiplier-input">
            
            <label class="modal-label">Ammo Capacity</label>
            <input type="text" id="character-ammo-capacity-input">
            
            <label class="modal-label">Track Alliance</label>
            <input type="text" id="character-track-alliance-input">
            
            <button onClick="showForm('browse')">Cancel</button>
            <button onClick="addCharacter()">Add Character</button>
        </div>

        <!-- Edit Character Form -->
        <div id="update" class="form-container hidden">
            <h3 class="modal">Edit Character</h3>
            <label class="modal-label">Character ID</label>
            <input type="text" id="edit-character-id-input" value="4">

            <label class="modal-label">Character Name</label>
            <input type="text" id="edit-character-name-input" value="Iron Mand">
            
            <label class="modal-label">Role</label>
            <input type="text" id="edit-character-role-input" value="Duelist">
            
            <label class="modal-label">Health</label>
            <input type="text" id="edit-character-health-input" value="275">
            
            <label class="modal-label">Has Secondary Weapon</label>
            <input type="text" id="edit-character-secondary-weapon-input" value="0">
            
            <label class="modal-label">Move Speed</label>
            <input type="text" id="edit-character-move-speed-input" value="10">
            
            <label class="modal-label">Critical Multiplier</label>
            <input type="text" id="edit-character-critical-multiplier-input" value="0">
            
            <label class="modal-label">Ammo Capacity</label>
            <input type="text" id="edit-character-ammo-capacity-input" value="8">
            
            <label class="modal-label">Track Alliance</label>
            <input type="text" id="edit-character-track-alliance-input" value="6">
            
            <button onClick="showForm('browse')">Cancel</button>
            <button onClick="saveChanges()">Save Changes</button>
        </div>

        <!-- Delete Confirmation -->
        <div id="delete" class="form-container hidden">
            <h3 class="modal">Are you sure you want to delete this character?</h3>
            <p class="modal-label">Character ID: <span id="delete-message"></span></p>
            <button onClick="showForm('browse')">Cancel</button>
            <button onClick="confirmDelete()">Delete</button>
        </div>
{{/layout}}