{{#> layout title= "Player Characters Page"}}
<div id="browse">
    <h3 class="table-name">Browse Player Characters</h3>
    
    <input type="text" id="searchInput" placeholder="Search by track_player... " onkeyup="filterTable()">
    
    <div class="table-container">
        <table border="1" cellpadding="5" id="IT-table">
            <thead class="table-header">
                <tr>
                    <th class="new-button"><a href="#" onClick="showForm('insert')">New</a></th>
                    <th></th>
                    {{#each data.playerCharacters.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data.playerCharacters}}
                <tr>
                    <td>
                        <a href="#" onClick="showForm('update', {{this.[Player ID]}})">Edit</a>
                    </td>
                    <td>
                        <a href="#" onClick="showForm('delete', {{this.[Player ID]}})">Delete</a>
                    </td>
                    <td>{{this.Player}}</td>
                    <td>{{this.Character}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Add PlayerCharacter Form -->
<div id="insert" class="form-container hidden">
    <h3 class="modal">Add a New Player Character</h3>
    <form id="add-player-character-form-ajax">
        <label class="modal-label" for="player-track-input">Track Player</label>
        <select id="player-track-input" name="player-track">
            {{#each data.players}}
            <option value="{{this.[Player ID]}}">{{this.Player}}</option>
            {{/each}}
        </select>
        
        <label class="modal-label" for="character-track-input">Track Character</label>
        <select id="character-track-input" name="character-track">
            {{#each data.characters}}
            <option value="{{this.[Character ID]}}">{{this.Character}}</option>
            {{/each}}
        </select>
        
        <button type="submit">Add Player Character</button>
    </form>
        <button type="button" onClick="showForm('browse')">Cancel</button>
</div>
<script src="js/add_playerCharacter.js"></script>

<!-- Edit PlayerCharacter Form -->
<div id="update" class="form-container hidden">
    <h3 class="modal">Edit Player Character</h3>
    <form id="edit-player-character-form-ajax">
        <label class="modal-label" for="edit-player-track-input">Track Player</label>
        <select id="edit-player-track-input" name="edit-player-track">
            <option value="MasterMo">MasterMo</option>
            <option value="Zyverous">Zyverous</option>
            <option value="GamerDad">GamerDad</option>
        </select>
        
        <label class="modal-label" for="edit-character-track-input">Track Character</label>
        <select id="edit-character-track-input" name="edit-character-track">
            <option value="Rocket">Rocket</option>
            <option value="Iron Man">Iron Man</option>
            <option value="Venom">Venom</option>
        </select>
        
        <button type="submit">Save Changes</button>
    </form>
        <button type="button" onClick="showForm('browse')">Cancel</button>
</div>

<!-- Delete Confirmation -->
<div id="delete" class="form-container hidden">
    <h3 class="modal">Are you sure you want to delete this player character?</h3>
    <p class="modal-label">Track Player: <span id="delete-message"></span></p>
    <button type="button" onClick="confirmDelete()">Delete</button>
    <button type="button" onClick="showForm('browse')">Cancel</button>
</div>
{{/layout}}